h1 {
  font-size: 45px;
  font-weight: 450;
  background-image: conic-gradient(#c73924, #ffcb12, #00889a, #471eb9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  border-bottom: 1rem;
}

.stSidebar {
  background-color: #003c44 !important;
}

.stSidebarUserContent {
  padding-top: 2rem;
  color: #003c44 !important;
  background-color: #ffcb12;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.kpi.number {
  font-size: 2rem;
  text-align: center;
  color: rgb(90, 90, 90);
}

.kpi.text {
  font-size: 1rem;
  text-align: center;
  color: rgb(90, 90, 90);
  padding-top: 10px;
}

.tablebackground {
  background-color: #14665e91 !important;
}

.viewbackground {
  background-color: #5a661491 !important;
}

.mvbackground {
  background-color: #ceece5 !important;
}

.smallheader {
  font-size: small !important;
}

#my-container {
  height: 100vh;
  width: 100%;
}
